* {
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --lightGray: hsl(212, 45%, 89%);
  --grayishBlue: hsl(220, 15%, 55%);
  --darkBlue: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--lightGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 20px 0;
  text-align: center;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qr {
  border-radius: 12px;
  width: 90%;
}

.text {
  padding: 0 2em;
}

h2 {
  font-size: 1.8rem;
}

p {
  color: var(--grayishBlue);
  font-size: 1.5rem;
}

/* below 850px */
@media (max-width: 850px) {
  .container {
    width: 50%;
  }

  .text {
    padding: 0 1em;
  }
}

/* above 1400px */
@media (min-width: 1400px) {
  .container {
    padding-bottom: 5em;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}

/* .container {
  width: 80%;
  text-align: center;
  background-color: var(--white);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 12px;
}

.qr {
  width: 100%;
  max-width: 350px;
  border-radius: 15px;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: var(--grayishBlue);
}

@media (min-width: 600px) {
  .container {
    width: 30%;
  }
} */
